@import 'tailwindcss';

@theme {
  --color-background: var(--color-zinc-950);
}

body {
  background-color: var(--color-zinc-950);
  color: var(--color-zinc-300);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar matching technical look */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-zinc-800);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-zinc-700);
}